.App {
  text-align: center;
}

.content-wrapper {
  padding: 2em;
}

html, body {
  background-color: #eff5f8;
  margin: 0;
}

body, body * {
  box-sizing: border-box;
}

.loading-wrapper {
  display: grid;
  place-content: center;
  place-items: center;
  width: 100%;
  min-height: 600px;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2em;
}

.pagination-wrapper {
  display: grid;
  position: relative;
  place-content: center;
  place-items: center;
  width: 100%;
  margin: 1em 0;
}

header {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 1em;
  color: black;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
